[API]
BINANCE_KEY = fake
BINANCE_SECRET = fake
COINBASEPRO_KEY = fake
COINBASEPRO_SECRET = fake


[CONFIG]
MAX_CRYPTO_HOLDINGS_PERCENTAGE = 0.333
MAX_CONSECUTIVE_BUYS = 3

PROFIT_THRESHOLD = 1.10
MA_RATIO_PROFIT_THRESHOLD = 1.07
MIN_PROFIT = 1.04


[AWS]
SNS_TOPIC = arn:aws:sns:us-east-1:123456789012:selective_dca_bot
AWS_ACCESS_KEY_ID = fake
AWS_SECRET_ACCESS_KEY = fake

